.Die {
  font-size: 10em;
  padding: 0.25em;
  color: slateblue;
}

.shaking {
  animation: wobble 1s ease;
}

@keyframes wobble {
	0%, 100% {transform: translateX(0);}
	10%, 30%, 50%, 70%, 90% {transform: translateX(-10px);}
	20%, 40%, 60%, 80% {transform: translateX(10px);}
}